body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.calculator-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: url('Fondo.jpeg') no-repeat center center;
    background-size: cover;
}

.calculator img.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.calculator h2 {
    margin-bottom: 20px;
}

.calculator label {
    display: block;
    margin: 10px 0 5px;
}

.calculator input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #0056b3;
}

.calculator h3 {
    margin-top: 20px;
}

.calculator p {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
}

#finalPrice {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
}
